SUBSYSTEM=="block", KERNEL=="sd[a-z][0-9]", ACTION=="add",    RUN="/bin/systemctl --no-block start mount@$kernel.service"
SUBSYSTEM=="block", KERNEL=="sd[a-z][0-9]", ACTION=="remove", RUN="/bin/systemctl --no-block stop  mount@$kernel.service"
