[Unit]
Description=Auto-mount storage device
BindsTo=dev-%i.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/mkdir -v -p /media/%I
ExecStart=/bin/mount -v -o noatime /dev/%I /media/%I
ExecStop=/bin/umount -v /media/%I
ExecStopPost=/bin/rmdir -v /media/%I
